@import url(//fonts.googleapis.com/css?family=Lora);

@wow-link-color: #ffb100;
@wow-light-color: #efc9a0;
@wow-background-color: #1B0E07;
@wow-border-color: #281812;
@wow-button-top-border-color: #A01E00;
@wow-button-bottom-border-color: #A01E00;
@wow-button-background-start-color: #721500;
@wow-button-background-end-color: #440402;
@soft-shadow: rgba(0, 0, 0, 0.5);
@bnet-color: #0072A8;

.wow-serif {
	font-family: 'Lora', serif
}

.wow-sans-serif {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.battleblue{
	color: @bnet-color;
}

.wow-button-background {
	background: linear-gradient(0deg, @wow-button-background-start-color, @wow-button-background-end-color);
}

.wow-button-background-hover {
	background: linear-gradient(0deg, @wow-button-background-start-color + #111111, @wow-button-background-end-color + #111111);
}

.wow-button-background-active {
	background: linear-gradient(0deg, @wow-button-background-start-color - #111111, @wow-button-background-end-color - #111111);
}

.wow-button-borders {
	border: 1px solid @wow-button-bottom-border-color;
	border-top-color: @wow-button-top-border-color;
}

.wow-button {
	.wow-button-background;
	.wow-button-borders;
	border-radius: 2px;
	color: @wow-link-color;
	padding: 5px 10px 5px 10px;
	text-decoration: none;

	&:hover {
		.wow-button-background-hover;
		text-decoration: none;
		cursor: pointer;
	}

	&:active {
		.wow-button-background-active;
		text-decoration: none;
	}
}

.wow-input {
	background: @wow-border-color;
	border: 1px solid @wow-border-color+#111;
	border-radius: 2px;

	&:focus {
		border: 1px solid @wow-link-color;
		box-shadow: 0 0 5px @soft-shadow;
	}
}

.inline-block{
	display: inline-block;
}

* {
	box-sizing: border-box;
	outline: none;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: @wow-background-color + #111;
}

a {
	color: @wow-link-color;
	&:hover {
		color: white;
	}
}

.container-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;

	form {
		.wow-sans-serif;
		border-radius: 5px;
		background: @wow-background-color;
		box-shadow: 0px 0px 5px black;
		max-width: 450px;

		legend {
			color: @wow-link-color;
			padding: 5px;
			width: 100%;
			.wow-button-background;
			.wow-button-borders;
			border-radius: 3px 3px 0 0;
		}
		fieldset {
			border: 1px solid @wow-button-bottom-border-color;
			border-top: none;
			color: @wow-light-color;
			margin: 0;

			label {
				color: @wow-light-color;
			}
			input {
				.wow-input;
				color: @wow-light-color;
			}

			label, input {
				padding: 10px;
				display: inline-block;
				width: 50%;
			}

			button, a.button {
				.wow-button;
				display: inline-block;
				width: 50%;
			}

			p.error {
				background: @wow-button-background-start-color;
				border: 1px solid @wow-link-color;
				color: @wow-link-color;
				border-radius: 3px;
				padding: 15px;
			}

			p.help {
				font-size: 10pt;
			}
		}
	}
}

.steps section {
	.wow-sans-serif;
	border-radius: 5px;
	background: @wow-background-color;
	border: 1px solid @wow-button-bottom-border-color;
	box-shadow: 0px 0px 5px black;
	max-width: 450px;
	padding-top:0px;
	text-align: center;

	h1{
		margin-top:0px;
		color:@wow-link-color;
		.wow-button;
		border:none;
		border-bottom: 1px solid @wow-border-color;
		border-radius: 2px 2px 0px 0px;
	}

	p{
		margin:25px;
		color:white;
	}

	input[type="text"] {
		.wow-input;
		padding: 10px;
		color: @wow-light-color;
	}

	input[type="submit"], button{
		.wow-button;
		margin: 10px 10px 30px 10px;
		position:relative;

		img{
			width:25px;
			height:25px;
			position:absolute;
			left:5px;
			top:5px;
		}

		&.icon{
			padding:10px;
			padding-left:40px;

		}
	}
}

.steps-indicator{
	display:none;
}