# IntelliJ files
.idea/
*.iml

# Mac hidden files
.DS_Store

# Node files
node_modules
npm-debug.log

# Bower files
bower_components

# Content uploaded via FTP
content
public/images/backgrounds
uploads