extends layout

block css
	link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")

block content
	.container
		h1 This is not the page you are looking for.
		if message
			h2= message
		a(href='/') Take me to the homepage!