extends layout

block css
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")

block content
    .container
        h1 This is not the page you are looking for.
        a(href='/') Take me to the homepage!