extends layout

block content

    div.title
        img(src="images/logo.png").title

    div.buttons
        a(href="http://curse.totalrp3.info" target="blank")
            div.button.curse Download on Curse
                img(src="images/icons/crate.jpg").icon


        a(href="http://loc.totalrp3.info" target="blank")
            div.button.localization Help localizing TRP 3
                img(src="images/icons/friends.jpg").icon


        a(href="http://forums.telkostrasz.be" target="blank")
            div.button.forum Forum
                img(src="images/icons/book.jpg").icon


        a(href="http://twitter.com/EllypseCelwe" target="blank")
            div.button.twitter Follow @Ellypse
                img(src="images/icons/ellypse.jpg").icon


        a(href="http://twitter.com/Telkostrasz" target="blank")
            div.button.twitter Follow @Telkostrasz
                img(src="images/icons/telko.jpg").icon
