doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        meta(name="robots", content="noarchive")
        meta(name="author", content='Renaud "Ellypse" Parize')
        meta(name="copyright", content="© Total RP 3")
        if description
            meta(name="description", content=description)
        if keywords
            meta(name="keywords", content=keywords)

        block headers

        block css

        block javascript

    body
        block content

        block lastscripts