extends ../layout
block css
    link(rel="stylesheet", href="/stylesheets/totalrp.css")
block content
    .container-flex
        form
            legend Login
            fieldset
                h2 Welcome
                p.
                    The Total RP 3 website will soon offer various services that will require an account. We are currently testing the login process. If you decide to login during the testing phase, your username will be reserved for the future !
                a.wow-button(href="auth/bnet")= "Login using Battle.net"
                h5 Why using Battle.net ?
                p.help.
                    Good question.
                    We decided you use Battle.net as an authentication back-end for two reasons.
                    First, it's more secure as we do not store any critical information. You are being authenticated by Blizzard and Battle.net, they only provide us with a token so we can identify you. No account information for us to manage, no password.
                    Secondly, we will be able to access your characters information (names, pets, mounts) to provide you with more features in the future.
                P.help
                    b.
                        This authentication does <u>not</u> give us access to your Battle.net account. It only allows us to retrieve information from the armory corresponding to your characters.
                p.help
                    a(href="https://dev.battle.net/docs/read/oauth", target="_blank").
                        Read more information about Battle.net authentication
