extends ../layout
block css
    link(rel="stylesheet", href="/stylesheets/totalrp.css")
    script(src="/libs/angular.min.js")
    script(src="/javascripts/user/app.js")
block content
    div(ng-app="user", ng-controller="loginCtrl").container-flex
        form(ng-submit="submit()")
            legend Login
            fieldset
                p.error(ng-show="error", ng-bind="error")
                p
                    label(for='name') Username
                    input#name(type='text', name="username", placeholder='Username', ng-model="user.username", ng-blur="validate(username)", required)
                p
                    label(for='password') Password
                    input#password(type='password', placeholder='Password', ng-model="user.password", ng-blur="validate(password)", required)
                p
                    button(type='submit') Login
                p Don't have an account?
                    a(href="register")= " Register."