extends ../layout
block css
	link(rel="stylesheet", href="/stylesheets/totalrp.css")
	script(src="/libs/angular/angular.min.js")
	script(src="/javascripts/user/login.js")
block content
	.container-flex(ng-app="login", ng-controller="loginCtrl")
		form
			legend Login
			fieldset
				h2 Welcome
				p.
					The Total RP 3 website will soon offer various services that will require an account. We are currently testing the login process. If you decide to login during the testing phase, your username will be reserved for the future !
				a.wow-button(href="auth/bnet")= "Login using Battle.net"
				h5
					button(ng-click="showHelp = !showHelp") Why use Battle.net ?
				div.help(ng-show="showHelp")
					:markdown
						Good question.

						We decided to use Battle.net as an authentication back-end for two reasons.
						- First, it's more secure as we do not store any critical information. You are being authenticated by Blizzard and Battle.net, they only provide us with a token so we can identify you. No account information for us to manage, no password.
						- Secondly, we will be able to access your characters information (names, pets, mounts) to provide you with more features in the future.
						This authentication does *not* give us access to your Battle.net account. It only allows us to retrieve information from the armory corresponding to your characters.

						[Read more information about Battle.net authentication](https://dev.battle.net/docs/read/oauth)

