extends ../layout

block css
    link(rel="stylesheet", href="/stylesheets/totalrp.css")
    script(src="/libs/angular.min.js")
    script(src="/javascripts/user/app.js")
block content
    div(ng-app="user", ng-controller="registerCtrl").container-flex
        form(ng-submit="submit()", name="register")
            legend Register
            fieldset
                p.error(ng-show="error", ng-bind="error")
                p
                    label(for='name') Username
                    input#name(type='text', name="username", placeholder='Username', ng-model="user.username", ng-blur="validate(username)", required)
                p
                    label(for='password') Password
                    input#password(type='password', placeholder='Password', ng-model="user.password", ng-blur="validate(password)", required)
                p
                    label(for='email') Email Address
                    input#email(type='mail', placeholder='Email Address', ng-model="user.email", ng-blur="validate(email)", required)
                p
                    button(type='submit') Submit