doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
		meta(name="author", content='Renaud "Ellypse" Parize')
		meta(name="copyright", content="© Renaud Parize")
		meta(name="description", content="The best add-on to upgrade your questing experience in World of Warcraft.")
		meta(name="keywords", content="world of warcraft, wow, add-on, addon, storyline, quest, questing")
		title Storyline
		link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/storyline.css")
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
	body
		include navbar
		.jumbotron.storyline-background
			.sub
				h1.text-center Storyline
				h2.text-center Upgrade your questing experience!
			a(href="http://www.curse.com/addons/wow/total-rp-3-storyline").download-button Download on Curse
			.storyline-jumbotron-frame
		.jumbotron
			.container
				.col-sm-9.col-xs-12
					h2 Storyline makes quests easier to read.
					p.
						By spliting the usual block of text into individual paragraphs displayed individually, Storyline makes the quests text easier for you to read and to follow.
					p.
						The paragraphs nicely fade in one after an other, giving you that great reading experience RPGs are known for.
				.col-sm-3.col-xs-12
					.storyline-quest-text [PLACEHOLDER]
		.jumbotron.darker
			.container
				.col-sm-3.col-xs-12
					.storyline-3D-models [PLACEHOLDER]
				.col-sm-9.col-xs-12
					h2 Better interactivity
					p.
						Storyline features gorgeous interactive 3D models of you and your target. They animate during each step of the dialog, following the punctuation, making the dialogs more alive and more immersive.
					p.
						All options available from the original dialog and quest frame are available inside Storyline. Accept quest and see your character node at the quest giver. When more than one option is available, Storyline will group them and offer popups to select an option.
		.jumbotron
			.container
				.col-sm-9.col-xs-12
					h2 Keyboard shortcuts
					p.
						Storyline implements all the features from the original quest frame and makes them available from your keyboard. You can accept quests, check the objectives, and complete quests using the SPACE key, and you can choose one of the dialog options using the number keys.
				.col-sm-3.col-xs-12
					.storyline-keyboard-shortcuts [PLACEHOLDER]
		.jumbotron.darker
			.container
				p.text-center
					small World of Warcraft® and Blizzard Entertainment® are all trademarks or registered trademarks of Blizzard Entertainment in the United States and/or other countries.
