doctype html
head
	link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/libs/angular-bootstrap/ui-bootstrap-csp.css")
	link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
	link(href='//fonts.googleapis.com/css?family=Fira+Mono', rel='stylesheet', type='text/css')
	script(src="/libs/angular/angular.min.js")
	script(src="/libs/angular-bootstrap/ui-bootstrap.min.js")
	script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
	script(src="/libs/angularUtils-pagination/dirPagination.js")
	script(src="/javascripts/localization.js")
	title Localization tool
	style.
		.contenteditable{
			font-family: 'Fira Mono', Menlo, Monaco, monospace;
			height: auto;
			white-space: pre-wrap;
			word-break: normal;
			word-wrap: normal;
		}
		.nightmode, .nightmode:active, .nightmode:focus {
			background: #1D1F21;
			color: white;
		}
body(ng-app="totalrp", ng-controller="localizationCtrl")
	nav.navbar.navbar-default
		.container-fluid
			button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand Localization tool
			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				ul.nav.navbar-nav.navbar-right
					li
						a You are logged in as #{user.username}

	.container
		h1 Available add-ons:
		if(user.isAdmin)
			.panel.panel-default
				.panel-heading Administration tools
				.panel-body
					form.form-inline
						.form-group
							label(for="newAddOn") New add-on
							= " "
							input.form-control#newAddOn(type="text", ng-model="newAddOn.addOn", placeholder="Add-on name")
						= " "
						button.btn.btn-default(ng-click="createNewAddOn()") Create
					hr
					form.form-inline
						.form-group
							label(for="newLanguageLanguage") New language
							= " "
							input.form-control#newLanguageLanguage(type="text", ng-model="newLanguage.language", placeholder="enUS")
						= " "
						.form-group
							label(for="newLanguageLabel") New language label
							= " "
							input.form-control#newLanguageLabel(type="text", ng-model="newLanguage.label", placeholder="English")
						= " "
						button.btn.btn-default(ng-click="createNewLanguage()") Create
		.panel.panel-default
			.panel-body
				.btn-group.pull-right
					button.btn.btn-success(ng-show="needSaving", ng-click="save()")
						i.fa.fa-floppy-o
					button.btn.btn-danger(ng-show="needSaving", ng-click="cancel()")
						i.fa.fa-times
				uib-tabset
					uib-tab(ng-repeat="addOn in addOns", heading="{{addOn.addOn}}")
						.col-sm-12
							h3 {{addOn.addOn}}
								= " "
								small {{addOn.keys.length}} key(s)
								if(user.isAdmin)
									button.btn.btn-default.pull-right Download
							if(user.isAdmin)
								.col-sm-12
									form.form-inline
										.form-group
											label(for="newKeyKey") New key
											= " "
											input.form-control#newKeyKey(type="text", ng-model="newKey.key", placeholder="MY_KEY")
										= " "
										.form-group
											label(for="newKeyValue") New key value
											= " "
											input.form-control#newKeyValue(type="text", ng-model="newKey.value", placeholder="My key’s default value")
										= " "
										button.btn.btn-default(ng-click="createNewKey(addOn)") Create
									hr
							.col-sm-12
								h4 Instructions
								p.
									When translating from English to another language, you can use the copy button to insert the english version of the text inside the editing box, so you can more easily keep the formating and edit the text inline.
									Use the live preview on the left to make sure all special formating codes are correctly rendered.
							.col-sm-6
								label(for="search") Search for a specific string:
									small <br>(you can use the key of the string or the string value it self)
								= " "
								form
									.form-group
										input.form-control#search(type="search", ng-model="search.text", placeholder="Search")
								//input#onlyShowNeedUpdates(type="checkbox", ng-model="onlyShowKeysThatNeedUpdates")
								//= " "
								//label(for="onlyShowNeedUpdates") Only show the strings that need to be updated
							.col-sm-6
								dir-pagination-controls.pull-right(pagination-id="addOn.addOn")
						.col-sm-12
							uib-tabset
								uib-tab(ng-repeat="language in languages", heading="{{language.label}}")
									.col-sm-12(dir-paginate="key in (addOnKeys = addOn.keys | filter : search.text) | itemsPerPage : itemsPerPage", pagination-id="addOn.addOn")
										.panel
											.panel-body
												.col-sm-6
													label {{key.key}}
														= " "
														i.fa.fa-exclamation-circle(ng-if="key.values[language.language].needsUpdate || !key.values[language.language]")
														= " "
														i.fa.fa-eye(ng-if="key.values[language.language].needsReview")
													p {{key.description}}
													label Live preview
													button.btn.btn-default.pull-right(ng-click="nightmode = !nightmode", ng-class="{nightmode: !nightmode}")
														i.fa.fa-moon-o
													div.form-control.contenteditable(ng-bind-html="renderPreview(key.values[language.language].value)", ng-class="{nightmode: nightmode}")
												form.col-sm-6
													.form-group
														div.form-control.contenteditable(contenteditable=true, ng-model="key.values[language.language].value")
													.form-group(ng-if="language.language != 'enUS'")
														label English value:
														button.btn.btn-default.pull-right(ng-click="key.values[language.language].value = key.values.enUS.value")
															i.fa.fa-clipboard
															i.fa.fa-level-up
														div.form-control.contenteditable {{key.values.enUS.value}}
													.from-group
														small(ng-if="key.values[language.language] && key.values[language.language].updatedOn  && key.values[language.language].updatedBy") Updated on {{key.values[language.language].updatedOn | date : 'dd/MM/yyyy HH:mm'}} by {{key.values[language.language].updatedBy.username}}



							.clearfix
	script.
		user = !{JSON.stringify(user)}