extends localizationLayout
block localizationContent
	.container(ng-controller="localizationIndexCtrl")
		h1 Total RP 3 localization tool
		h2= "Welcome " + user.username + "!"

		if user.rights.indexOf('admin') > -1
			h3 Administration tools
			tabset
				tab(heading="Upload new locale")
					.drop-box(ngf-drop, ngf-change="upload($files)", ng-model="files", ng-drag-over-class="dragover", ngf-multiple="true", ngf-allow-dir="false",
					ngf-accept="'.lua'") {{upload_progress}}
					div(ngf-no-file-drop) Drag & drop is not supported for this browser

				tab(heading="Download")
				tab(heading="Review")

		h3 Available locales
		.col-sm-12.search
			input(type="text", ng-model="search.text", placeholder="Search")
		tabset
			tab(ng-repeat="locale in locales | filter : search.text", heading="{{locale.localeName}}")
				dir-pagination-controls
				button Save changes
				.col-sm-12.locale(dir-paginate="loc in locale.localeContent | filter : search.text | itemsPerPage: 10 ")
					.col-sm-3
						label {{loc.key}}
					.col-sm-9.editable(contenteditable="true") {{loc.value}}
				.clearfix


	script.
		var locales = !{JSON.stringify(locales)}