extends ../layout

block css
	link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
	link(rel="stylesheet", href="/libs/angular-bootstrap/ui-bootstrap-csp.css")
	link(rel="stylesheet", href="/stylesheets/totalrp.css")
	script(src="/libs/angular/angular.min.js")
	script(src="/libs/angular-utils-pagination/dirPagination.js")
	script(src="/libs/angular-bootstrap/ui-bootstrap.min.js")
	script(src="/libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
	script(src="/libs/ng-file-upload/ng-file-upload-shim.min.js")
	script(src="/libs/ng-file-upload/ng-file-upload.min.js")
	script(src="/javascripts/localization/index.js")

block content
	div(ng-app="localization")
		block localizationContent
