/************************
 * Goudy Medieval font (Medieval-ish font, used mainly to get stylished titles)
 * http://www.1001freefonts.com/goudy_mediaeval.font
 ************************/

// Goudy Medieval
@font-face {
	font-family: 'Goudy Medieval';
	src: url('/fonts/goudy_mediaeval_regular.eot');
	src: url('/fonts/goudy_mediaeval_regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/goudy_mediaeval_regular.woff2') format('woff2'),
	url('/fonts/goudy_mediaeval_regular.woff') format('woff'),
	url('/fonts/goudy_mediaeval_regular.ttf') format('truetype'),
	url('/fonts/goudy_mediaeval_regular.svg#goudy_mediaevalregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Goudy Medieval bold
@font-face {
	font-family: 'Goudy Medieval';
	src: url('/fonts/goudy_mediaeval_demibold.eot');
	src: url('/fonts/goudy_mediaeval_demibold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/goudy_mediaeval_demibold.woff2') format('woff2'),
	url('/fonts/goudy_mediaeval_demibold.woff') format('woff'),
	url('/fonts/goudy_mediaeval_demibold.ttf') format('truetype'),
	url('/fonts/goudy_mediaeval_demibold.svg#goudy_mediaevalbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/************************
 * Bitter font (Serif font)
 * http://www.fontsquirrel.com/fonts/bitter
 ************************/

// Bitter
@font-face {
	font-family: 'Bitter';
	src: url('/fonts/bitter-regular.eot');
	src: url('/fonts/bitter-regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/bitter-regular.woff2') format('woff2'),
	url('/fonts/bitter-regular.woff') format('woff'),
	url('/fonts/bitter-regular.ttf') format('truetype'),
	url('/fonts/bitter-regular.svg#bitterregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Bitter bold
@font-face {
	font-family: 'Bitter';
	src: url('/fonts/bitter-bold.eot');
	src: url('/fonts/bitter-bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/bitter-bold.woff2') format('woff2'),
	url('/fonts/bitter-bold.woff') format('woff'),
	url('/fonts/bitter-bold.ttf') format('truetype'),
	url('/fonts/bitter-bold.svg#bitterbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

/************************
 * Fira Sans font (Sans serif font, with ligatures, kerning and other advanced typography features)
 * http://www.fontsquirrel.com/fonts/fira-sans
 *
 * I limited my self to only use the regular, bold, italic and italic bold versions of the font to preserve bandwith,
 * but other exotic styles are available in the fonts folder for later use.
 ************************/

// Fira Sans
@font-face {
	font-family: 'Fira Sans';
	src: url('/fonts/firasans-regular.eot');
	src: url('/fonts/firasans-regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/firasans-regular.woff2') format('woff2'),
	url('/fonts/firasans-regular.woff') format('woff'),
	url('/fonts/firasans-regular.ttf') format('truetype'),
	url('/fonts/firasans-regular.svg#fira_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
// Fira Sans bold
@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/firasans-bold.eot');
    src: url('/fonts/firasans-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/firasans-bold.woff2') format('woff2'),
         url('/fonts/firasans-bold.woff') format('woff'),
         url('/fonts/firasans-bold.ttf') format('truetype'),
         url('/fonts/firasans-bold.svg#fira_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

}
// Fira Sans italic
@font-face {
	font-family: 'Fira Sans';
	src: url('/fonts/firasans-italic.eot');
	src: url('/fonts/firasans-italic.eot?#iefix') format('embedded-opentype'),
	url('/fonts/firasans-italic.woff2') format('woff2'),
	url('/fonts/firasans-italic.woff') format('woff'),
	url('/fonts/firasans-italic.ttf') format('truetype'),
	url('/fonts/firasans-italic.svg#fira_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
// Fira Sans bold italic
@font-face {
    font-family: 'Fira Sans';
    src: url('/fonts/firasans-bolditalic.eot');
    src: url('/fonts/firasans-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/firasans-bolditalic.woff2') format('woff2'),
         url('/fonts/firasans-bolditalic.woff') format('woff'),
         url('/fonts/firasans-bolditalic.ttf') format('truetype'),
         url('/fonts/firasans-bolditalic.svg#fira_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/************************
 * Fira Mono font (Monospace version of Fira, used in code snippets)
 * http://www.fontsquirrel.com/fonts/fira-mono
 ************************/

// Fira Mono
@font-face {
	font-family: 'Fira Mono';
	src: url('/fonts/firamono-regular.eot');
	src: url('/fonts/firamono-regular.eot?#iefix') format('embedded-opentype'),
	url('/fonts/firamono-regular.woff2') format('woff2'),
	url('/fonts/firamono-regular.woff') format('woff'),
	url('/fonts/firamono-regular.ttf') format('truetype'),
	url('/fonts/firamono-regular.svg#fira_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
// Fira Mono bold
@font-face {
	font-family: 'Fira Mono';
	src: url('/fonts/firamono-bold.eot');
	src: url('/fonts/firamono-bold.eot?#iefix') format('embedded-opentype'),
	url('/fonts/firamono-bold.woff2') format('woff2'),
	url('/fonts/firamono-bold.woff') format('woff'),
	url('/fonts/firamono-bold.ttf') format('truetype'),
	url('/fonts/firamono-bold.svg#fira_monobold') format('svg');
	font-weight: bold;
	font-style: normal;

}

.wow-medieval {
	font-family: 'Goudy Medieval regular', 'Lora', serif;
}

.wow-serif {
	font-family: 'Bitter', serif;
}

.wow-sans-serif {
	font-family: "Fira Sans", Helvetica, Arial, sans-serif
}

.wow-code {
	font-family: "Fira Mono", Consolas, Menlo, Monaco, monospace;
}

* {
	-webkit-font-smoothing: antialiased;
}