/************************
 * Goudy Medieval font (Medieval-ish font, used mainly to get stylished titles)
 * http://www.1001freefonts.com/goudy_mediaeval.font
 ************************/
@font-face {
  font-family: 'Goudy Medieval';
  src: url('/fonts/goudy_mediaeval_regular.eot');
  src: url('/fonts/goudy_mediaeval_regular.eot?#iefix') format('embedded-opentype'), url('/fonts/goudy_mediaeval_regular.woff2') format('woff2'), url('/fonts/goudy_mediaeval_regular.woff') format('woff'), url('/fonts/goudy_mediaeval_regular.ttf') format('truetype'), url('/fonts/goudy_mediaeval_regular.svg#goudy_mediaevalregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Medieval';
  src: url('/fonts/goudy_mediaeval_demibold.eot');
  src: url('/fonts/goudy_mediaeval_demibold.eot?#iefix') format('embedded-opentype'), url('/fonts/goudy_mediaeval_demibold.woff2') format('woff2'), url('/fonts/goudy_mediaeval_demibold.woff') format('woff'), url('/fonts/goudy_mediaeval_demibold.ttf') format('truetype'), url('/fonts/goudy_mediaeval_demibold.svg#goudy_mediaevalbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/************************
 * Bitter font (Serif font)
 * http://www.fontsquirrel.com/fonts/bitter
 ************************/
@font-face {
  font-family: 'Bitter';
  src: url('/fonts/bitter-regular.eot');
  src: url('/fonts/bitter-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/bitter-regular.woff2') format('woff2'), url('/fonts/bitter-regular.woff') format('woff'), url('/fonts/bitter-regular.ttf') format('truetype'), url('/fonts/bitter-regular.svg#bitterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('/fonts/bitter-bold.eot');
  src: url('/fonts/bitter-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/bitter-bold.woff2') format('woff2'), url('/fonts/bitter-bold.woff') format('woff'), url('/fonts/bitter-bold.ttf') format('truetype'), url('/fonts/bitter-bold.svg#bitterbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/************************
 * Fira Sans font (Sans serif font, with ligatures, kerning and other advanced typography features)
 * http://www.fontsquirrel.com/fonts/fira-sans
 *
 * I limited my self to only use the regular, bold, italic and italic bold versions of the font to preserve bandwith,
 * but other exotic styles are available in the fonts folder for later use.
 ************************/
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/firasans-regular.eot');
  src: url('/fonts/firasans-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans-regular.woff2') format('woff2'), url('/fonts/firasans-regular.woff') format('woff'), url('/fonts/firasans-regular.ttf') format('truetype'), url('/fonts/firasans-regular.svg#fira_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/firasans-bold.eot');
  src: url('/fonts/firasans-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans-bold.woff2') format('woff2'), url('/fonts/firasans-bold.woff') format('woff'), url('/fonts/firasans-bold.ttf') format('truetype'), url('/fonts/firasans-bold.svg#fira_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/firasans-italic.eot');
  src: url('/fonts/firasans-italic.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans-italic.woff2') format('woff2'), url('/fonts/firasans-italic.woff') format('woff'), url('/fonts/firasans-italic.ttf') format('truetype'), url('/fonts/firasans-italic.svg#fira_sansitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Fira Sans';
  src: url('/fonts/firasans-bolditalic.eot');
  src: url('/fonts/firasans-bolditalic.eot?#iefix') format('embedded-opentype'), url('/fonts/firasans-bolditalic.woff2') format('woff2'), url('/fonts/firasans-bolditalic.woff') format('woff'), url('/fonts/firasans-bolditalic.ttf') format('truetype'), url('/fonts/firasans-bolditalic.svg#fira_sansbold_italic') format('svg');
  font-weight: bold;
  font-style: italic;
}
/************************
 * Fira Mono font (Monospace version of Fira, used in code snippets)
 * http://www.fontsquirrel.com/fonts/fira-mono
 ************************/
@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/firamono-regular.eot');
  src: url('/fonts/firamono-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/firamono-regular.woff2') format('woff2'), url('/fonts/firamono-regular.woff') format('woff'), url('/fonts/firamono-regular.ttf') format('truetype'), url('/fonts/firamono-regular.svg#fira_monoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Fira Mono';
  src: url('/fonts/firamono-bold.eot');
  src: url('/fonts/firamono-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/firamono-bold.woff2') format('woff2'), url('/fonts/firamono-bold.woff') format('woff'), url('/fonts/firamono-bold.ttf') format('truetype'), url('/fonts/firamono-bold.svg#fira_monobold') format('svg');
  font-weight: bold;
  font-style: normal;
}
.wow-medieval {
  font-family: 'Goudy Medieval regular', 'Lora', serif;
}
.wow-serif {
  font-family: 'Bitter', serif;
}
.wow-sans-serif {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.wow-code {
  font-family: "Fira Mono", Consolas, Menlo, Monaco, monospace;
}
* {
  -webkit-font-smoothing: antialiased;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.battleblue {
  color: #0072a8;
}
.wow-button-background {
  background: linear-gradient(0deg, #721500, #440402);
}
.wow-button-background-hover {
  background: linear-gradient(0deg, #832611, #551513);
}
.wow-button-background-active {
  background: linear-gradient(0deg, #610400, #330000);
}
.wow-button-borders {
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
}
.wow-button {
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 2px;
  color: #ffb100;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.wow-button:hover {
  background: linear-gradient(0deg, #832611, #551513);
  text-decoration: none;
  cursor: pointer;
}
.wow-button:active,
.wow-button.active {
  background: linear-gradient(0deg, #610400, #330000);
  text-decoration: none;
}
.wow-input {
  background: #281812;
  border: 1px solid #392923;
  border-radius: 2px;
}
.wow-input:focus {
  border: 1px solid #ffb100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.inline-block {
  display: inline-block;
}
* {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: #2c1f18;
}
a {
  color: #ffb100;
}
a:hover {
  color: white;
}
h1,
h2,
h3,
h4,
h5 {
  color: #ffb100;
  font-family: 'Bitter', serif;
}
.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.container-flex form {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background: #1b0e07;
  box-shadow: 0 0 5px black;
  max-width: 450px;
}
.container-flex form legend {
  color: #ffb100;
  padding: 5px;
  width: 100%;
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 3px 3px 0 0;
}
.container-flex form fieldset {
  border: 1px solid #a01e00;
  border-top: none;
  color: #efc9a0;
  margin: 0;
}
.container-flex form fieldset label {
  color: #efc9a0;
}
.container-flex form fieldset input {
  background: #281812;
  border: 1px solid #392923;
  border-radius: 2px;
  color: #efc9a0;
}
.container-flex form fieldset input:focus {
  border: 1px solid #ffb100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.container-flex form fieldset label,
.container-flex form fieldset input {
  padding: 10px;
  display: inline-block;
  width: 50%;
}
.container-flex form fieldset button,
.container-flex form fieldset a.button {
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 2px;
  color: #ffb100;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  display: inline-block;
  width: 50%;
}
.container-flex form fieldset button:hover,
.container-flex form fieldset a.button:hover {
  background: linear-gradient(0deg, #832611, #551513);
  text-decoration: none;
  cursor: pointer;
}
.container-flex form fieldset button:active,
.container-flex form fieldset a.button:active,
.container-flex form fieldset button.active,
.container-flex form fieldset a.button.active {
  background: linear-gradient(0deg, #610400, #330000);
  text-decoration: none;
}
.container-flex form fieldset .error {
  background: #721500;
  border: 1px solid #ffb100;
  color: #ffb100;
  border-radius: 3px;
  padding: 15px;
}
.container-flex form fieldset .help {
  font-size: 10pt;
}
.steps section {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  border-radius: 5px;
  background: #1b0e07;
  border: 1px solid #a01e00;
  box-shadow: 0 0 5px black;
  max-width: 450px;
  padding-top: 0;
  text-align: center;
}
.steps section h1 {
  margin-top: 0;
  color: #ffb100;
  background: linear-gradient(0deg, #721500, #440402);
  padding: 10px;
  font-weight: normal;
  border: none;
  border-bottom: 1px solid #281812;
  border-radius: 2px 2px 0 0;
  text-shadow: 0px -1px 0 #000000;
}
.steps section p {
  margin: 25px;
  color: white;
}
.steps section input:not([type=submit]):not([type=file]) {
  background: #281812;
  border: 1px solid #392923;
  border-radius: 2px;
  padding: 10px;
  color: #efc9a0;
}
.steps section input:not([type=submit]):not([type=file]):focus {
  border: 1px solid #ffb100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.steps section input[type="submit"],
.steps section button {
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 2px;
  color: #ffb100;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  margin: 10px 10px 30px 10px;
  position: relative;
}
.steps section input[type="submit"]:hover,
.steps section button:hover {
  background: linear-gradient(0deg, #832611, #551513);
  text-decoration: none;
  cursor: pointer;
}
.steps section input[type="submit"]:active,
.steps section button:active,
.steps section input[type="submit"].active,
.steps section button.active {
  background: linear-gradient(0deg, #610400, #330000);
  text-decoration: none;
}
.steps section input[type="submit"] img,
.steps section button img {
  width: 45px;
  height: 45px;
  position: absolute;
  left: 5px;
  top: 5px;
  border: 1px solid #ffb100;
}
.steps section input[type="submit"].icon,
.steps section button.icon {
  padding: 10px 10px 10px 65px;
}
.steps section input[type="submit"].icon:hover img,
.steps section button.icon:hover img {
  filter: brightness(120%);
}
.steps section input[type="submit"].icon:active img,
.steps section button.icon:active img {
  filter: brightness(70%);
}
.steps-indicator {
  display: none;
}
.wow-link-color {
  color: #ffb100;
}
.drop-box {
  width: 100%;
  height: 50px;
  color: #ffb100;
  padding: 20px;
  text-align: center;
}
.nav-tabs {
  border-bottom: 1px solid #a01e00;
}
.nav-tabs li a {
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 2px;
  color: #ffb100;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.nav-tabs li a:hover {
  background: linear-gradient(0deg, #832611, #551513);
  text-decoration: none;
  cursor: pointer;
}
.nav-tabs li a:active,
.nav-tabs li a.active {
  background: linear-gradient(0deg, #610400, #330000);
  text-decoration: none;
}
.nav-tabs li a:hover {
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 2px;
  color: #ffb100;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  color: white;
}
.nav-tabs li a:hover:hover {
  background: linear-gradient(0deg, #832611, #551513);
  text-decoration: none;
  cursor: pointer;
}
.nav-tabs li a:hover:active,
.nav-tabs li a:hover.active {
  background: linear-gradient(0deg, #610400, #330000);
  text-decoration: none;
}
.nav-tabs li.active a {
  background: linear-gradient(0deg, #610400, #330000);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  color: white;
}
.nav-tabs li.active a:hover {
  background: linear-gradient(0deg, #610400, #330000);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  color: white;
  cursor: default;
}
.tab-content {
  width: 100%;
  background: #1b0e07;
  border: 1px solid #a01e00;
  border-top: none;
  padding: 30px 10px;
}
.search {
  padding: 20px;
}
.search input {
  background: #281812;
  border: 1px solid #392923;
  border-radius: 2px;
  width: 100%;
  color: #ffb100;
  padding: 10px;
}
.search input:focus {
  border: 1px solid #ffb100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.locale {
  color: #ffb100;
  word-wrap: break-word;
}
.locale div {
  margin: 10px 0;
}
.locale .editable {
  background: #281812;
  border: 1px solid #392923;
  border-radius: 2px;
}
.locale .editable:focus {
  border: 1px solid #ffb100;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.pagination {
  margin: 30px;
}
.pagination li.disabled a {
  border-color: #281812;
}
.pagination li.disabled a:hover {
  border-color: #281812;
}
.pagination li.active a {
  border-color: #ffb100;
}
.pagination li.active a:hover {
  border-color: white;
}
.pagination li a {
  background: linear-gradient(0deg, #721500, #440402);
  border: 1px solid #a01e00;
  border-top-color: #a01e00;
  border-radius: 2px;
  color: #ffb100;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}
.pagination li a:hover {
  background: linear-gradient(0deg, #832611, #551513);
  text-decoration: none;
  cursor: pointer;
}
.pagination li a:active,
.pagination li a.active {
  background: linear-gradient(0deg, #610400, #330000);
  text-decoration: none;
}
.pagination li a:hover {
  border-color: #ffb100;
  color: white;
}
.spinner {
  margin: 20px auto;
  width: 70px;
  text-align: center;
}
.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/*# sourceMappingURL=totalrp.css.map */