/*
Custom style used for the wiki
*/
@import "fonts";
@import "retina";

$bnet-color: #0072A8;
$selection-background-color: #446779;

::selection {
	background: $selection-background-color;
	color: white;
	text-shadow: 0 -1px 0 black;
}

body {
	text-rendering: optimizeLegibility; /* optional: for older browsers */
	-webkit-font-variant-ligatures: common-ligatures; /* for iOS and Safari 6 */
	font-variant-ligatures: common-ligatures; /* for up-to-date browsers, including IE10 and Opera 21 */
	-moz-font-feature-settings: "kern=1"; /* pre-Firefox 14+ */
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern"; /* Firefox 14+ */
	font-feature-settings: "kern"; /* standard */
	font-kerning: normal; /* Safari 7+, Firefox 24+, Chrome 33(?)+, Opera 21+*/
	-webkit-font-smoothing: subpixel-antialiased;

	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga", "dlig";
	-webkit-font-feature-settings: "liga", "dlig";
	-o-font-feature-settings: "liga", "dlig";
	font-feature-settings: "liga", "dlig";

	font-family: 'Fira Sans', Helvetica, Arial, sans-serif;
}

code, kbd, pre, samp {
	@extend .wow-code;
}

.content {
	border-radius: 2px;
	border-color: grey;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

* {
	box-sizing: border-box;
}

//Battle.net login button
.battlenet {
	background-color: black;
	border-radius: 3px;
	border: 1px solid $bnet-color;
	color: $bnet-color !important;
	padding: 10px;
	margin-top: 10px;

	img {
		width: 25px;
		height: 25px;
		margin-right: 15px;
	}

	&:hover {
		background-color: $bnet-color;
		border-color: black;
		color: black !important;
		img {
			filter: brightness(0);
		}
	}
}

.fyre .fyre-box-wrapper {
	.fyre-logo-drop {
		left: 2px !important;
	}

	a.fyre-user-profile-link {
		padding: 0;
	}
	img {
		display: inline-block;
	}
}

.battletag {
	color: $bnet-color;
}

.logo {
	position: relative;
	padding: 10px 0 10px 50px;

	&::before{
		content: "";
		width: 40px;
		height: 40px;
		position: absolute;
		left: 0;
		top: 0;
		@include retina-image("/images/icons/trp3_wiki", "png", 100%);
		background-size: 100%;
	}

	&:hover{
		filter: brightness(150%);
	}
}

.home-categories .panel .page {
	text-overflow: inherit;
	white-space: normal;
}

// Button to toggle between rendered and raw content
#toggle-raw {
	float: right;
	border-color: grey;
}

// Code comments
.hljs-comment, .markdown .hljs-code {
	color: #F1B55E;
}

// Code keywords (if, else, function), markdown strong, html tags, titles
.hljs-keyword, .hljs-strong, .hljs-tag, .hljs-tag .hljs-title {
	color: #f67469;
}

// Code attributes (objets members, functions and functions punctuation), markdown links
.hljs-attribute, .hljs-value, .hljs-function, .hljs-link_label {
	color: #c4a8db;
}

.col{
	max-width: 100%;
}

@media (max-width: 767px) {
	#sidebar {
		display: none;
	}

	.home-search.jumbotron.row {
		display: none;
	}

	.container-fluid {
		margin-top: 10px;
		padding: 0;
		.col-sm-9 {
			margin: 0;
			padding: 0;
			.content {
				margin: 0 0 20px 0;
				padding: 15px;
				border-radius: 0;
				border:none;

				&.search{
					padding:30px;
				}
			}
		}
	}

	.col {
		width: 100%;
	}

	header{
		overflow:hidden;
		.row div{
			margin-bottom: 20px;
		}

	}


	.battlenet, #toggle-raw{
		display:none;
	}
}